.hamburger {
	width: 72px;
	height: 60px;
	display: block;
	/*background: orange;*/
	position: relative;
	overflow: hidden;
	float: left;
}

.hamburger > div {
	width: calc(100% - 32px);
	height: 4px;
	background-color: #ffffff;
	border-radius: 5px;
	position: absolute;
	left: 16px;
	opacity: 1;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.hamburger > div:nth-child(1) {
	top:16px;
	z-index: 3;
	/*background-color: #ff0000;*/
}

.hamburger > div:nth-child(2) {
	top: 28px;
	/*background-color: #00ff00;*/
}

.hamburger > div:nth-child(3) {
	top: 40px;
	/*background-color: #0000ff;*/
}

/* cross */

.hamburger.cross > div:nth-child(1) {
	top:-4px;
	opacity: 0;
}

.hamburger.cross > div:nth-child(2) {
	top:28px;
	transform:rotate(45deg);
}

.hamburger.cross > div:nth-child(3) {
	top:28px;
	transform:rotate(-45deg);
}

/* back */

.hamburger.back > div:nth-child(1) {
	top:-4px;
	opacity: 0;
}

.hamburger.back > div:nth-child(2) {
	width: 20px;
	top:22px;
	left: 19px;
	transform:rotate(-45deg);
}

.hamburger.back > div:nth-child(3) {
	width: 20px;
	top:34px;
	left: 19px;
	transform:rotate(45deg);
}