html {
    font-family: 'Roboto';
    font-size: 62.5%;
	line-height: auto;
	color: #404040;
	-webkit-overflow-scrolling: touch;
}

body {
	margin: 0px;
    color: #14171a;
    font-size: 1.6rem;
	background-color: #f5f5f5;
}

header {
	position: relative;
	max-width: 576px;
	margin: auto;
	/*background-color: blue;*/
}

h1, h2, h3, h4, h5, h6 { margin: 0px; }

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing:border-box;
    position: relative;
}

.message {

}

.pages {
	position: relative;
	max-width: 576px;
	margin: auto;
	padding: 16px;
}

a {
	text-decoration: none;
}

a:focus,
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.cutter {
	right: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	z-index: -1;
	transition: all 0.8s cubic-bezier(.25,.8,.25,1);
	background-color: #e84118;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	/*background-image: linear-gradient(150deg, #e84118, #b31217);*/
}

.cutter.diagonal {
	height: 350px;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.cutter.flat {
	height: 60px;
	/*height: 121px;*/
}

.cutter.medium {
	height: 121px;
}

.cutter.full {
	height: 100vh;
}

.green {
	color: #44bd32;
}

.blue {
	color: #00a8ff;
}

.red {
	color: #e84118;
}

.clear:after {
	content: "";
	display: table;
	clear:both;
}

.shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn {
	background-color: #00a8ff;
	color: #fff;
	padding: 16px;
	text-align: center;
	display: block;
	font-weight: bold;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.btn.green {
	background-color: #44bd32;
}

.btn.grey {
	background-color: #ddd;
}

.paper {
	display: block;
	background-color: white;
	padding: 16px;
}

.center {
	text-align: center;
}

*{
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block {
	display: block;
}

.none {
	display: none;
}

.visible {
	animation:toVisible 1s cubic-bezier(.25,.8,.25,1) forwards;
}

.hidden {
	animation:toHidden 1s cubic-bezier(.25,.8,.25,1) forwards;
}


@keyframes toVisible {
    0% {
    	display:none;
    	overflow: hidden;
    	height: 0;
        opacity: 0;
    }

    50% {
    	display:block;
    	overflow: all;
    	height: auto;
        opacity: 0;
    }

    100% {
    	display:block;
    	overflow: all;
    	height: auto;
        opacity: 1;
    }
}

@keyframes toHidden {
    0% {
    	display:block;
    	overflow: all;
    	height: auto;
        opacity: 1;
    }

    99.99999% {
    	display:block;
    	overflow: all;
    	height: 0;
        opacity: 0;
    }

    100% {
    	display:none;
    	overflow: hidden;
    	height: 0;
        opacity: 0;
    }
}

.tVisible {
    animation:toTVisible 1s cubic-bezier(.25,.8,.25,1) forwards;
}

.tHidden {
    animation:toTHidden 0.5s cubic-bezier(.25,.8,.25,1) forwards;
}

@keyframes toTVisible {
    0% {
    	display:none;
        overflow: all;
        height: auto;
        opacity: 1;
        top: 200vh;
        transform: scale(1, 1);
        z-index: 1;
    }

    0.00001% {
    	display:block;
    }

    100% {
        top: 0px;
    }
}

@keyframes toTHidden {
    0% {
    	display:block;
    	overflow: all;
    	height: auto;
        opacity: 1;
        transform: scale(1, 1);
        z-index: -1;
        top: 0;
    }

    99.99999% {
        opacity: 0;
        transform: scale(0.5, 0.5);
        top: 10vh;
    }

    100% {
    	display:none;
    	overflow: hidden;
    	height: 0;
        top: -99999px;
    }
}


@media (max-width: 576px) {
    .cutter.diagonal {
        height: 160px;
        clip-path: none;
    }
    .cutter.flat {
        height: 60px;
    }
}