.menu {
	width: calc(100% - 32px);
	position: absolute;
}
.menu > a, .menu > span  {
	display: block;
	color: #fff;
	padding: 16px;
	text-align: center;
	border-radius: 50px;
	margin: 32px 0px;
	letter-spacing: 3px;
}

.menu > a {
	border:1px solid #fff;
}

.menu > span {
	margin-top: 48px
}