.option {
	margin-bottom: 8px;
	display: block;
}

.option > [type=checkbox],
.option > [type=radio] {
	display: none;
}

.option > div {
	border-left: 8px solid #ddd;
	cursor:pointer;
	background: red;
	display: block;
	background-color: #fff;
	padding: 16px;
}

.option > div > span {
	font-weight: bold;
}

.option > [type=checkbox]:checked ~ div,
.option > [type=radio]:checked ~ div,
.option.true > div {
	border-color: #48B964;
}