.questions {
	position: relative;
}

.questions .nav {
	display: none;
}

.next, .previous, .finish {
	float: left;
	width: 110px;
	letter-spacing: 3px;
}

.page-number {
	position: absolute;
	width: 120px;
	text-align: center;
	left: calc(50% - 60px);
	/*background: orange;*/
	font-weight: bold;
	padding: 16px;
}

.btn.finish {
	display: none;
	float: none;
	margin: 16px auto;
	width: 110px;
    text-align: center;
    background-color: #44bd32;
}

.next {
	float: right;
}