.questions .nav {
	display: none;
}

.next, .previous, .finish {
	float: left;
	width: 110px;
	letter-spacing: 3px;
}

.page-number {
	position: absolute;
	width: 120px;
	text-align: center;
	left: calc(50% - 60px);
	/*background: orange;*/
	font-weight: bold;
	padding: 16px;
}

.btn.finish {
	display: none;
	float: none;
	margin: 16px auto;
	width: 110px;
    text-align: center;
    background-color: #44bd32;
}

.next {
	float: right;
}

@media (max-width: 576px) {
	.questions {
		width: cacl(100% - 32px);
		left: 0;
		margin: -16px;
	}

	.next {
		border-radius: 50px 0px 0px 50px;
	}

	.previous {
		border-radius: 0px 50px 50px 0px;
	}

	.finish {
		border-radius: 50px;
	}
}