.question {
	/*display: none;*/
}

.question .content,
.question .feedback {
	display: block;
	background-color: #fff;
	padding: 16px;
	font-size: 2rem;
}

.question > .options {
	margin: 16px 0px 24px 0px;
}