.section {
	margin: 32px 0px;
}

.section a{
	color: #404040;
}

.section:first-child {
	margin-top: 24px;
}

.section:last-child {
	margin-bottom: 16px;
}

.section .top {
	height: 200px;
	background-color:#ddd;
	position: relative;
	color: #fff;
	background-size: cover;
	text-shadow: 1px 1px #404040;
	padding: 16px;
}

.section > .top div {
	position: absolute;
	bottom: 32px;
}

.section > .top h1{
	font-size: 2.8rem;
	font-weight: bold;
	letter-spacing: 3px;
}

.section > .top p{
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 3px;
	font-style: italic;
}

.chapter {
	display: table;
	background-color: white;
	padding: 16px;
	width: 100%;
	border-top: 1px solid #f0f0f0;
}

.chapter .name {
	display: table-cell;
    vertical-align: middle;
	float: left;
	min-height: 22px;
	width: calc(100% - 22px);
}

.chapter .arrow {
	display: table-cell;
    vertical-align: middle;
	width: 22px;
	min-height: 22px;
	float: right;
}

.chapter .arrow:before,
.chapter .arrow:after  {
	display: block;
	content: "";
	width: 15px;
	height: 3px;
	background-color: #ddd;
	border-radius: 3px;
}

.chapter .arrow:before {
	position: absolute;
	transform:rotate(45deg);
	top: 5px;
}

.chapter .arrow:after {
	position: absolute;
	transform:rotate(-45deg);
	bottom: 5px;
}

.type-toggle {
	width: 100%;
	margin-top: -16px;
	padding: 8px 0px;
	height: 53px;

}

.type-toggle > div {
	color: rgba(255,255,255,0.5);
	text-align: center;
	float: left;
	width: 33.333%;
	padding: 8px;
	letter-spacing: 3px;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.type-toggle > div.active {
	color: #fff;
	border-color: #f5f5f5;
}

.type-toggle:before {
	position: absolute;
	width: 33.333%;
	height: 37px;
	content: "";
	color: #fff;
	border-color: #f5f5f5;
	border-radius: 50px;
	background: rgba(0,0,0,0.1);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.type-toggle.type-1:before {
	left: 0%;
}

.type-toggle.type-2:before {
	left: 33.333%;
}

.type-toggle.type-3:before {
	left: 66.666%;
}

.types {
	width: 100%;
	position: absolute;
	transform-origin: 50% 0;
}

@media (max-width: 576px) {
	.section {
		width: calc(100% + 32px);
		margin-left: -16px;
		margin-right: -16px;
		margin-top: 8px !important;
		margin-bottom: 16px !important;
	}
}